.webcam-container {
  position: relative;
  margin: 0 auto;
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.webcam-container video {
  width:auto;
  height: 100%;
}

.overlay-container {
  position: absolute ;
  width: 100%;
  top: 0 ;
  right: 0 ;
  bottom: 0 ;
  left: 0;
}

.btn_click{
  position: absolute;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffb82f;
  right: 25px;
  bottom: 25px;
  outline: none;
  border: none;
  cursor: pointer;
}

.text-white{
  color: #fff;
  position: absolute;
  bottom: 20px;
  text-align: center;
}
.text-white h2{
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}

@media (max-width: 768px) {
  .webcam-container{
    width: 100%;
  }
}